.games-list li { background: rgba(140, 199, 255, 0.63); font-weight:500;}
.games-list li:nth-child(odd) { background: rgba(244, 244, 244, 0.41); }
.games-list li .btn {margin-top:-5px;}
 
#wrapper {
  border: 1px solid black;
  width: 450px;
  height: 450px;
  margin: 0 auto;
}
 
div {
  contentEditable: true;
}
 
.filled {
  width: 28px;
  height: 28px;
  background: black;
  border: 1px solid black;
  padding: 0;
  margin: 0;
  float: left;
}
 
.empty {
  width: 28px;
  height: 28px;
  border: 1px solid black;
  padding: 0;
  margin: 0;
  float: left;
}
 
.numbered {
  counter-increment: value;
}
 
.numbered:nth-of-type(n)::before {
  content: counter(value);
  font-size: 10px;
  position: absolute;
}
 
table.main{
  border:2px solid #3b3a6e;
}
table.main td {
  position:relative;
  border:1px solid #3b3a6e;
  padding: 2px;
}
 
table.game {
	border:2px solid #3b3a6e;
}

table.game td{
	position:relative;
    border:0px solid #3b3a6e;
}
.player-line{
   font-size:20px; 
   line-height:80px;
   margin:5px;
}

/* This changes the word Battleships */
.navbar-brand {
   font-family:Britannic;
   font-size:200%;
   color:#337ab7 !important;
}

.navbar-brand:hover {
  color:#ffffff !important;
}

/* This changes the links lobby, logout, register and login */
.nav-link {
  font-family:Britannic;
  font-size:140%;
  color:#337ab7 !important;
}

.nav-link:hover {
   color:#ffffff !important;
}

/*This changes the welcome message*/
.navbar-text  {
 font-family:Britannic;
 font-size:140%;
 color:#337ab7 !important;
}

/* This should hopefully set everything to the same font */
h3,h4{
   font-family:Britannic;
}